<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>org.company.name.controller.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Log4jServlet</servlet-name>
        <servlet-class>org.company.name.logger.Log4jServlet</servlet-class>
        <init-param>
            <param-name>log4j-properties-location</param-name>
            <param-value>WEB-INF/log4j.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>org.company.name.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>org.company.name.filter.SecurityFilter</filter-class>
        <init-param>
            <param-name>INDEX_PATH</param-name>
            <param-value>/index.jsp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/jsp/*</url-pattern>
    </filter-mapping>

    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            20
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <display-name>header_footer</display-name>
            <url-pattern>/jsp/page/*</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>